* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.glowing {
    position: relative;
    min-width: 700px;
    height: 550px;
    margin: 150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
    transform-origin: left;
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}
