@font-face {
  font-family: ShinGoPro;
  src: url(shingopro.otf) format("opentype");
}

body {
  font-family: ShinGoPro;
  style="background-image: linear-gradient(#eaaded,#ed8099);"
}

.tab {
  background-color: blue;
  overflow: hidden;
  height: 300px;
}

.tab button {
  position:relative;
  bottom:0px;
  font-family: ShinGoPro;
  text-align: center;
  font-size:24px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid black;
  border-bottom: none;
  transition: 0.2s;
}

.tab button:hover {
  background-color: white;
  font-family: ShinGoPro;
  text-align: center;
  font-size:24px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid black;
  border-bottom: none;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid black;
}

.homebutton {
  background-color: cornsilk;
}
