@font-face {
  font-family: ShinGoPro;
  src: url(shingopro.otf) format("opentype");
}

body {
  font-family: ShinGoPro;
  background-color: pink;
}

.tab {
  overflow: hidden;
  z-index: 1;
}

.tab button {
  font-family: ShinGoPro;
  padding: 8px 16px;
  text-align: center;
  font-size:24px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid black;
  border-bottom: none;
}

.tab button:hover {
  background-color: white;
  font-family: ShinGoPro;
  padding: 8px 16px;
  text-align: center;
  font-size:24px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid black;
  border-bottom: none;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid black;
}

.homebutton {
  background-color: cornsilk;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
