@font-face {
    font-family: ShinGoPro;
    src: url(shingopro.otf) format("opentype");
  }
  body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: ShinGoPro;
  }
  header{
    background-color: #C70039;
    padding:20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
  }
  .palestine{
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(black, white, green);
    z-index: 2;
    font-size: 1.3em;
    border-right: solid black 6px;
    border-bottom: solid black 6px;
    border-radius: 0px 0px 16px 0px;
  }
  .palestine a{
    text-align: center;
    color: red;
    text-decoration: none;
    transition: 0.25s;
  }
  .palestine a:visited{
    color: red;
  }
  .palestine a:hover{
    color: pink;
  }
  .banner{
    position: relative;
  }
  .banner img{
    width: 2400px;
    max-width: 100%;
  }
  nav{
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 132px;
    text-align: center;
    z-index: 1;
  }
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
  }
  nav li a{
    text-decoration: none;
    color: #4B4B4B;
  }
  nav li a.join{
    color: #C70039;
  }
  nav li a.alien{
    color: #C70039;
  }
  nav li a.hotline{
    color: #C70039;
  }
  nav li a.news{
    color: #C70039;
  }
  main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  } 
  article h2{
    color: #C70039;
    font-size: 48px;
  }
  article p{
    line-height: 2em;
    color: #4b4b4b;
  }

  footer{
    background-color: #C70039;
    color: white;
    padding: 5px;
    text-align: center;
  }
  .copyright a{
    text-decoration: none;
    color: white;
  }
  /* psuedo classes */
  
  nav li a:hover{
    text-decoration: underline;
  }
  .images li img:hover{
    transform: scale(1.075);
  }
  form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
  }
  form input:valid{
    border: 4px solid #71d300;
  }
  
  /* responsive styles */
  
  @media screen and (max-width: 1400px){
    nav li{
      font-size: 18px;
    }
  }
  @media screen and (max-width: 700px){
    .images li{
      width: 100%;
      margin: 20px auto;
      display: block;
    }
  }
  @media screen and (max-width: 560px){
    nav li{
      font-size: 20px;
      display: block;
      width: 100%;
      margin: 12px 0;
    }
    header{
      position: relative;
    }
    nav{
      top: 0;
    }
  }
  