body {
	background: linear-gradient(#a6da97, #409e9e);
	color: #000000;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}

.content {
  	width: 500px;
	text-align: center;
}
table, tr, td {
	border: 1px solid black;
	border-style: dashed;
}
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	bottom:0;
	padding: 5px;
}
a:link {
	color: #a22800
}
a:hover {
	color: #da6d00
}
a:visited {
	color: #640000
}
hr {
	width: 50%;
	height: 2px;
	border:none;
	color:#333;
	background-color:#1d1d67;
}