body {
	background: linear-gradient(#a6da97, #409e9e);
	color: #000000;
}

.content {
  	width: 500px;
	text-align: center;
}
table, tr, td {
	border: 1px solid black;
	border-style: dashed;
}
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	bottom:0;
	padding: 5px;
}
a:link {
	color: #a22800
}
a:hover {
	color: #da6d00
}
a:visited {
	color: #640000
}
hr {
	width: 50%;
	height: 2px;
	border:none;
	color:#333;
	background-color:#1d1d67;
}